body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #1B94DE;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 45%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#log {
  margin: 10px 0 0 80px;
}

#wrong_psw{
  color: red;
}

.reg{
  text-align: center;
  margin-left: 53px;
  padding-top: 30px;
  padding-left: 25px;
}
h2 {
  text-align: center;
  color: #1B94DE;
}

.cancelbtn {
  width: 50%;
}